:root {
  /* background: rgb(240, 217, 181); */
  background: rgb(240, 217, 181);
  background: linear-gradient(
    200deg,
    rgba(240, 217, 181, 1) 0%,
    rgb(177, 136, 99) 100%
  );
}

.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 1em;
} */

.App-body {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 1em;
  height: 75vh;
}

/* .App-footer {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 1em;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
