.Search-panel {
  background-color: brown;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 6em;
  justify-content: stretch;
  width: 100%;
}
.Search-panel-search {
  background-color: white;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  height: 2em;
}
.Search-panel-search-textfield:focus {
  outline: none;
  background-color: white;
}
.Search-panel-search-button {
  background-color: white;
}
