.Footer {
  color: rgb(240, 217, 181);
  background: rgb(168, 164, 164);
}

.Footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 1em;
}

.Footer-item {
  text-align: left;
}

.Footer-item-left {
  align-self: flex-start;
  padding-left: 2em;
}

.Footer-item-right {
  margin-left: auto;
  align-self: flex-end;
  padding-right: 2em;
}

.Footer-logo-icon {
  padding: 10px 0 0 0;
  font-size: 4em;
}

.Footer-logo-caption {
  padding: 0;
  font-size: 0.8em;
}
