.Footer {
  color: rgb(240, 217, 181);
  background: rgb(168, 164, 164);
  padding-top: 10px;
}

.Footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.Footer-item {
  text-align: left;
  padding: 0 0 0.5em 0;
}

.Footer-item-left {
  align-self: flex-start;
  padding-left: 1em;
}

p {
  margin: 0;
}

.Footer-item-right {
  margin-left: auto;
  align-self: flex-end;
  padding-right: 1em;
}

.Footer-logo-icon {
  font-size: 2em;
  padding-left: 10px;
  padding-right: 10px;
}

.Footer-logo-caption {
  padding: 0.5em 0 0 0;
  font-size: 0.9em;
}
