.RegistrationPanel-container {
  display: block;
  width: 50%;
  margin: 1em auto;
  background-color: bisque;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Cellphone screen */
@media only screen and (max-width: 768px) {
  .RegistrationPanel-container {
    width: 100%;
    margin: 0em;
    box-shadow: none;
  }
}
/* Tablet screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Desktop-windowed screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Desktop-fullscreen screen */
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
}

/* Desktop-4K */
@media only screen and (min-width: 1500px) {
}

.RegistrationPanel-title {
  align-content: flex-start;
  font-size: 0.7em;
  margin: 0;
}

.RegistrationPanel-label {
  margin: 0;
}

.RegistrationPanel-highlightedbox {
  margin: 5px 0;
}

.checkbox .radiobox {
  padding: 10px 0;
}
