.ProfilePanel-container {
  background-color: turquoise;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: teal;
  width: 10em;
}

.ProfilePanel-title {
  align-content: flex-start;
  font-size: 0.7em;
  margin: 0;
}

.ProfilePanel-item {
  margin: 0;
}

/* Cellphone screen */
@media only screen and (max-width: 768px) {
}
/* Tablet screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Desktop-windowed screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Desktop-fullscreen screen */
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
}

/* Desktop-4K */
@media only screen and (min-width: 1500px) {
}
