.ProfilePanel-container {
  background-color: turquoise;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: teal;
  width: 10em;
}

.ProfilePanel-title {
  align-content: flex-start;
  font-size: 0.7em;
  margin: 0;
}

.ProfilePanel-item {
  margin: 0;
}
