.ProfilePanel-container {
  display: block;
  background: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ProfilePanel-titlecontainer {
  background: grey;
  color: white;
  margin: 0;
}

h1 {
  margin: 0;
}

.ImageGallery-container {
  display: flex;
  height: 250px;
  justify-content: space-around;
  padding: 5px 5px;
  flex-wrap: wrap;
}

.ImageGallery-image {
  flex: 1;
  margin: 5px;
  height: auto;
  background-size: cover;
  background-position: center;
  min-width: 200px;
}

.ImageGallery-image:hover {
  filter: brightness(110%);
  cursor: pointer;
}

.ProfilePanel-imagecontainer {
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0;
  background: grey;
  vertical-align: middle;
  height: 400px;
}

.ProfilePanel-image {
  width: 100%;
  /* Set left edge of inner element to 50% of the parent element */
  /* Move to the left by 50% of own width */
}

.ProfilePanel-gmapcontainer {
  position: relative;
  text-align: right;
  height: 20%;
  width: 100%;
}
.ProfilePanel-gmapcanvas {
  /* overflow: hidden; */
  background: none !important;
  height: 20%;
  width: 100%;
}

.ProfilePanel-data-container {
  padding: 10px;
  background: grey;
  margin: 0;
}

.ProfilePanel-review-title h3 {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(207, 207, 207);
  margin: 0 0 10px 0;

  font-size: 1em;
  /* border-style: dotted;
  border-width: 1px; */
}

.ProfilePanel-title h1 {
  margin: 10px;
}

.ProfilePanel-metadata {
  display: flex;
  justify-content: space-between;

  font-size: 0.8em;
  color: rgb(207, 207, 207);
  /* 
  border-style: dotted;
  border-width: 1px; */
}

.ProfilePanel-description {
  padding: 0.5em 0;
  text-align: justify;
  column-width: 200px;
  font-size: 1em;
  color: white;
}

.ProfilePanel-author-footer {
  display: flex;
  justify-content: space-between;
  color: rgb(207, 207, 207);
  /* border-style: dotted;
  border-width: 1px; */
}

.ProfilePanel-author-footer-interactive {
  display: flex;
  justify-content: flex-end;
  margin: 1em 0;
}

.ProfilePanel-author-footer-item-button {
  border-style: dotted;
  border-width: 1px;
}

.ProfilePanel-author-footer-item {
  /* border-style: dotted;
  border-width: 1px; */
  padding: 0 10px;
}

.ProfilePanel-userreviews-container {
  display: flex;
  padding: 0 5px;
}

.ProfilePanel-userreviews-column {
  flex: 1;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  min-width: 200px;
}

.Sample-review {
  background: goldenrod;
  margin-top: 10px;
}

.Samiple-reivew-header {
  display: flex;
  align-items: center;
}

.Sample-review-body {
  padding: 10px;
  text-align: justify;
}

/* Cellphone screen */
@media only screen and (max-width: 768px) {
  .ProfilePanel-container {
    margin: 0px;
    box-shadow: none;
  }
  .ProfilePanel-userreviews-container {
    flex-flow: column;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .ImageGallery-image {
    min-width: 100px;
  }
}
/* Tablet screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Desktop-windowed screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Desktop-fullscreen screen */
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
}

/* Desktop-4K */
@media only screen and (min-width: 1500px) {
}
