.ProfilePanel-container {
  display: block;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ProfilePanel-imagecontainer {
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.ProfilePanel-image {
  width: 100%;
  background-color: gold;
  /* Set left edge of inner element to 50% of the parent element */
  margin-top: 50%;
  /* Move to the left by 50% of own width */
  transform: translateY(-100%);
}

.ProfilePanel-gmapcontainer {
  position: relative;
  text-align: right;
  height: 20%;
  width: 100%;
  margin: -3px 0;
}
.ProfilePanel-gmapcanvas {
  overflow: hidden;
  background: none !important;
  height: 20%;
  width: 100%;
}

.ProfilePanel-data-container {
  padding: 10px;
}

.ProfilePanel-title {
  display: block;
  flex-wrap: wrap;
  justify-content: center;

  font-size: 1em;
  /* border-style: dotted;
  border-width: 1px; */
}

.ProfilePanel-title h1 {
  margin: 10px;
}

.ProfilePanel-metadata {
  display: flex;
  justify-content: space-between;

  font-size: 0.8em;
  color: rgb(78, 78, 78);
  /* 
  border-style: dotted;
  border-width: 1px; */
}

.ProfilePanel-description {
  padding: 0.5em 0;
  text-align: justify;
}

.ProfilePanel-author-footer {
  display: flex;
  justify-content: space-between;
  /* border-style: dotted;
  border-width: 1px; */
}

.ProfilePanel-author-footer-interactive {
  display: flex;
  justify-content: flex-end;
}

.ProfilePanel-author-footer-item-button {
  /* border-style: dotted;
  border-width: 1px; */
}

.ProfilePanel-author-footer-item {
  /* border-style: dotted;
  border-width: 1px; */
  padding: 0 10px;
}

.ProfilePanel-userreviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: bisque;
}

.ProfilePanel-userrewviews-review {
  display: flex;
  flex-wrap: wrap;
  max-width: 45%;
  background-color: blanchedalmond;
  border-radius: 10px;
  border-width: 0 0 0 3px;
  padding: 10px;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  .ProfilePanel-userrewviews-review {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .ProfilePanel-userrewviews-review {
    max-width: 30%;
  }
}

.ProfilePanel-userreview-title h3 {
  width: 100%;
}

.ProfilePanel-userreview-comment {
  width: 100%;
  padding: 0.5em 0;
  text-align: justify;
}

.ProfilePanel-userreview-metadata {
  display: flex;
  justify-content: space-between;

  font-size: 0.8em;
  color: rgb(78, 78, 78);
}

.ProfilePanel-userreview-username {
  margin-left: auto;
  align-self: flex-end;
  color: gray;
  font-size: 0.8em;
}

.ProfilePanel-userreviews-interactive {
  display: flex;
  align-items: flex-start;
}

.ProfilePanel-userreview-username {
  margin-left: auto;
  align-self: flex-end;
}
