.ProfilePanel-container {
  display: block;
  background: bisque;
  /* background: linear-gradient(
    200deg,
    rgb(136, 125, 125) 0%,
    rgb(104, 97, 97) 100%
  ); */
  /* background: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ProfilePanel-titlecontainer {
  color: black;
  margin: 0;
  position: relative;
}

h1 {
  margin: 0;
}

.ImageGallery-container {
  display: flex;
  height: 250px;
  justify-content: space-around;
  padding: 5px 5px;
  flex-wrap: wrap;
}

.ImageGallery-image {
  flex: 1;
  margin: 5px;
  height: auto;
  background-size: cover;
  background-position: center;
  min-width: 200px;
}

.ImageGallery-image:hover {
  filter: brightness(110%);
  cursor: pointer;
}

.ProfilePanel-imagecontainer {
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0;
  vertical-align: middle;
  height: 400px;
}

.ProfilePanel-image {
  width: 100%;
  /* Set left edge of inner element to 50% of the parent element */
  /* Move to the left by 50% of own width */
}

.ProfilePanel-data-container {
  padding: 10px;
  margin: 0;
}

.ProfilePanel-review-title h3 {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  /* color: rgb(207, 207, 207); */
  margin: 0 0 10px 0;

  font-size: 1em;
  /* border-style: dotted;
  border-width: 1px; */
}

.ProfilePanel-metadata {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  color: black;
}

.ProfilePanel-description {
  padding: 0.5em 0;
  text-align: justify;
  column-width: 250px;
  font-size: 1em;
  color: black;
}

.ProfilePanel-summary-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background: url("./images/damascene_texture.jpg"); */
  color: rgb(73, 71, 69);

  border-radius: 10px;
  margin: 10px;

  margin-bottom: 10px;
}

.ProfilePanel-summary-statbox {
  flex: 1;
  background-color: rgb(250, 232, 211, 0.9);
}

.ProfilePanel-summary-rating-statbox {
  flex: 1;
  min-width: 200px;

  justify-self: flex-end;
  text-align: center;

  width: 200px;
  background-color: rgb(250, 232, 211, 0.9);
}

.ProfilePanel-summary-header {
  font-size: 0.7em;
  background: bisque;
}

.ProfilePanel-summary-body {
  line-height: 2em;
}

.ProfilePanel-gmapcontainer {
  text-align: center;
  font-size: 0.8em;
  background: rgb(241, 240, 239);
}

.ProfilePanel-gmapcontainer-label {
  background: rgb(241, 240, 239);
}

.ProfilePanel-gmapcanvas {
  /* overflow: hidden; */
  background: none !important;
  height: 245px;
  width: 100%;
}

.ProfilePanel-usercomment-container {
  width: 100%;
}

.ProfilePanel-usercomment-header {
  color: rgb(73, 71, 69);
}

.ProfilePanel-usercomment-body {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: rgb(250, 232, 211, 0.9);
}

.ProfilePanel-usercomment-userinfo {
  display: flex;
  align-items: center;
}

.ProfilePanel-usercomment-user-img {
  background-image: url("https://randomuser.me/api/portraits/men/82.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  min-width: 35px;
  height: 35px;
  margin: 0 10px;
}

.ProfilePanel-usercomment-username {
  padding-right: 10px;
}

.ProfilePanel-usercomment-body-textarea {
  width: 400px;
  height: 42px;
  border: none;
  outline: none;
  resize: none;
  padding: 4px;
}

.ProfilePanel-usercomment-body-form {
  display: flex;
}
.ProfilePanel-usercomment-body-numpicker {
  width: 40px;
  padding: 0 10px;
  background: burlywood;
  height: 50px;
  font-size: 1.2em;
  border: none;
  color: rgb(73, 71, 69);
}
.ProfilePanel-usercomment-body-button {
  width: 60px;
  padding: 0px;
  background: blanchedalmond;
}

.ProfilePanel-usercomment-body-textarea:focus,
.ProfilePanel-usercomment-body-button:focus,
.ProfilePanel-usercomment-body-numpicker:focus {
  outline: none;
}

.ProfilePanel-userreviews-container {
  display: flex;
  padding: 0 5px 10px 5px;
  margin-bottom: 100px;
}

.ProfilePanel-userreviews-interactive-container {
  display: flex;
  height: 3em;
  margin: 10px;
}

.ProfilePanel-userreviews-column {
  flex: 1;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  min-width: 200px;
}

/* Cellphone screen */
@media only screen and (max-width: 768px) {
  .ProfilePanel-container {
    margin: 0px;
    box-shadow: none;
  }
  .ProfilePanel-userreviews-container {
    flex-flow: column;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .ImageGallery-image {
    min-width: 100px;
  }
  .ProfilePanel-usercomment-userinfo {
    display: none;
  }
  .ProfilePanel-usercomment-body-textarea {
    width: 200px;
  }
}
/* Tablet screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Desktop-windowed screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Desktop-fullscreen screen */
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
}

/* Desktop-4K */
@media only screen and (min-width: 1500px) {
}
