.App {
  text-align: center;
  min-height: 100vh;
  background: rgb(36, 0, 75);
  background: linear-gradient(
    200deg,
    rgba(36, 0, 75, 1) 0%,
    rgba(121, 9, 9, 1) 100%
  );
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.App-footer {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
