.Navbar-title {
  color: rgb(181, 136, 99);
  padding: 1em;
  background-color: white;
}

.Navbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  background-color: beige;
}

.Navbar-item {
  color: rgb(181, 136, 99);
  padding: 15px;
  font-size: 0.8em;
}

.Navbar-item:hover {
  background-color: rgb(182, 182, 182);
  border-color: rgb(181, 136, 99);
}

.Hover {
  border-style: solid;
  border-color: transparent;
  border-width: 0 0 2px 0;
  -webkit-transition: background-color 0.25s; /* For Safari 3.1 to 6.0 */
  -webkit-transition: border-color 0.25s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.25s;
  transition: border-color 0.25s;
}

.Navbar-item-left {
  align-self: flex-start;
}

.Navbar-item-right {
  margin-left: auto;
  align-self: flex-end;
}

.Navbar-item-search {
  display: flex;
  margin-left: 1em;
  height: inherit;
}
.Navbar-item-search-bar {
  border: none;
  font-size: 0.8em;
  padding-left: 1em;
}
.Navbar-item-search-button {
  width: 2em;
  padding-top: 0.45em;
  background: burlywood;
}

.Navbar-item-search-button:visited {
  text-decoration: none;
  color: rgb(184, 163, 146);
}

.Navbar-item-search:hover {
  background-color: rgb(182, 182, 182);
  border-color: rgb(181, 136, 99);
}

.Navbar-item-search-bar:focus,
.Navbar-item-search-button:focus {
  outline: none;
}

.Navbar-item-select {
  padding-left: 1em;
  border: none;
  display: flex;
  margin-left: 1em;
  min-height: 52px;
}

/* Animations */

/* Safari syntax */
@-webkit-keyframes fadeIn {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}

/* Standard syntax */
@keyframes fadeIn {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}
