.Panel-container {
  background-color: rgb(231, 215, 171);
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: rgb(126, 106, 81);
  width: auto;
  height: 100vh;
  padding: 0 0.5em 0.5em 0.5em;
  margin: 0;
}

.Panel-title {
  align-content: flex-start;
  font-size: 0.7em;
  margin: 0;
}

.Panel-username-label {
  margin: 0;
}
