.Panel-container {
  background-color: rgb(231, 215, 171);
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: rgb(126, 106, 81);
  width: auto;
  padding: 0 0.5em 0.5em 0.5em;
  margin: 0;
}

.Panel-title {
  align-content: flex-start;
  font-size: 0.7em;
  margin: 0;
}

.Panel-username-label {
  margin: 0;
}

.Panel-forgotpassword-a {
  font-size: 0.7em;
}

.Panel-error {
  color: red;
  font-size: 0.8em;
}

/* Cellphone screen */
@media only screen and (max-width: 768px) {
}
/* Tablet screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Desktop-windowed screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Desktop-fullscreen screen */
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
}

/* Desktop-4K */
@media only screen and (min-width: 1500px) {
}
